/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles go here */
body {
  background-color: #0a0a0a;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}